body,html {
  color: #4E4098;
  background: rgb(186,161,231)!important;
  background: linear-gradient(180deg, rgba(186,161,231,1) 0%, rgba(225,199,227,1) 20%, rgba(255,255,255,1) 100%)!important;
}

.stApp {
  background: rgb(186,161,231)!important;
  background: linear-gradient(180deg, rgba(186,161,231,1) 0%, rgba(225,199,227,1) 20%, rgba(255,255,255,1) 100%)!important;
}

 /* remove top line */
.css-kywgdc {
  display:none!important;
}

#bowie-img{
  width:100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#small {
  font-size: .8rem!important;
}

a {
  color: #824570!important;
}

.st-c2 .st-ch .st-ci .st-ae .st-af .st-ag .st-cj .st-ai .st-aj {
  color: white!important;
}

.link {
  font-weight: 500;
  text-decoration: none;
  color: #4E4098!important;
}

.link:hover {
  text-decoration: none;
  color: #824570!important;
}

#song-details {
  color: #4E4098!important;
  font-size: .8rem;
}

#song-name {
  color: #4E4098;
}

.rec-link {
  text-decoration: none;
  font-weight: 500;
  color: inherit!important;
  margin-bottom:30px;
  cursor: pointer;
}

.rec-link:hover{
  text-decoration: none;
  color: #824570!important;
}